<% layout('./boilerplate.ejs') %>
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <h1>API REST</h1>
    <div>
      <a href="/users">Register</a>
      <a href="/faraway">FarAway</a>
    </div>
  </div>
</div>
